@import '~@/uni_modules/lime-style/index.scss';

/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$collapse: #{$prefix}-collapse;
$collapse-inset-margin-x: create-var(collapse-inset-margin-x, $spacer);
$collapse-inset-margin-y: create-var(collapse-inset-margin-y, 0);
$collapse-border-radius: create-var(collapse-border-radius, $border-radius-lg);


.#{$collapse} {
	&--inset {
		@include margin($collapse-inset-margin-y $collapse-inset-margin-x);
		@include border-radius($collapse-border-radius);
		overflow: hidden;
	}
}