@import '~@/uni_modules/lime-style/index.scss';
@import '~@/uni_modules/lime-style/mixins/hairline.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$collapse-panel: #{$prefix}-collapse-panel;

$collapse-panel-bg-color: create-var(collapse-panel-bg-color, $bg-color-container);
// $collapse-text-disabled-color: create-var(collapse-text-disabled-color, white);
$collapse-content-padding-x: create-var(collapse-content-padding-x, $spacer);
$collapse-content-padding-y: create-var(collapse-content-padding-y, $spacer);

$collapse-content-line-height: create-var(collapse-content-line-height, 1.5);
$collapse-content-font-size: create-var(collapse-content-font-size, $font-size);
$collapse-content-text-color: create-var(collapse-content-text-color, $text-color-1);
$collapse-transition-duration: create-var(collapse-transition-duration, 240ms);
$collapse-right-icon-color: create-var(collapse-right-icon-color, $text-color-4);
$collapse-right-icon-size: create-var(collapse-right-icon-size, 22px);
$collapse-border-color: create-var(collapse-border-color, $border-color-2);

.#{$collapse-panel} {
	background-color: $collapse-panel-bg-color;
	overflow: hidden;
	position: relative;
	/* #ifdef UNI-APP-X */
	transition-duration: 240ms;//$collapse-transition-duration;
	transition-property: height;
	transition-timing-function: ease;
	/* #endif */
	/* #ifndef UNI-APP-X */
	/* uniapp 切换content */ 
	&__wrapper{
		transition-duration: $collapse-transition-duration;
		transition-property: height;
		transition-timing-function: ease;
	}
	/* #endif */
	/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY  */
	&::after {
	    @include hairline-bottom($collapse-border-color);
	}
	&--borderless {
		&::after {
			display: none;
		}
	}
	/* #endif */
	/* #ifdef APP-ANDROID || APP-IOS || APP-HARMONY */
	border-bottom-width: 0.7px;
	border-bottom-style: solid;
	border-bottom-color: $collapse-border-color;
	
	&--borderless {
		border-bottom-width: 0px;
	}
	/* #endif */
	
	
	
	&--disabled {
	    pointer-events: none;
		.#{$collapse-panel} {
			&__header {
				opacity: 0.5;
			}
		}
	}
	
	&__right{
		// 鸿蒙不支持这个变量
		transition-duration: 240ms;//$collapse-transition-duration;
		transition-property: transform;
		/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY */
		color: $collapse-right-icon-color;
		font-size: $collapse-right-icon-size;
		/* #endif */
		/* #ifdef APP-ANDROID || APP-IOS || APP-HARMONY */
		border-left-color:  $collapse-right-icon-color;
		border-left-width: 0;
		/* #endif */
		&-icon {
			color: $collapse-right-icon-color;
			font-size: $collapse-right-icon-size;
		}
		
	}
	&--expanded {
		transform: rotate(180deg);
	}
	&__content {
		@include padding($collapse-content-padding-y $collapse-content-padding-x);
		/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY */
		color: $collapse-content-text-color;
	    line-height: $collapse-content-line-height;
		font-size: $collapse-content-font-size;
		/* #endif */
	}
}