@import '~@/uni_modules/lime-style/index.scss';

/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */

$cell-group: #{$prefix}-cell-group;

$cell-group-title-font-size: create-var(cell-group-title-font-size, $font-size);
$cell-group-title-line-height: create-var(cell-group-title-line-height, 44px);
$cell-group-title-padding-left: create-var(cell-group-title-padding-left, $spacer);
// $cell-group-title-bg-color: create-var(cell-group-title-bg-color, $fill-3);
$cell-group-title-color: create-var(cell-group-title-color, $text-color-3);
$cell-group-border-color: create-var(cell-group-border-color, $border-color-2);


.#{$cell-group} {
	 position: relative;
	&__title {
		font-size: $cell-group-title-font-size;
		color: $cell-group-title-color;
		text-align: left;
		line-height: $cell-group-title-line-height;
		padding-left: $cell-group-title-padding-left;
	}
	
	&--inset {
		// margin: 0 $spacer;
		@include margin(0 $spacer);
		// border-radius: $border-radius-lg;
		@include border-radius($border-radius-lg);
		overflow: hidden;
	}
}