@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$scrollx: #{$prefix}-scroll-x;

$scrollx-track-width: create-var(scrollx-track-width, 24px);
$scrollx-track-height: create-var(scrollx-track-height, 4px);
$scrollx-track-color: create-var(scrollx-track-color, $gray-3);
$scrollx-bar-color: create-var(scrollx-bar-color, $primary-color);
$scrollx-bar-width: create-var(scrollx-bar-width, 12px);

.#{$scrollx} {
	// #ifndef APP-IOS || APP-ANDROID || APP-HARMONY
	display: flex;
	flex-direction: column;
	transition: height 50ms linear;
	::-webkit-scrollbar {
	  display: none;
	  width: 0;
	  height: 0;
	  color: transparent;
	}
	// #endif
	&__view {
		flex-direction: row;
		white-space: nowrap;
	}
	&__track {
		position: relative;
		// margin-top: 10px;
		height: $scrollx-track-height;
		width: $scrollx-track-width;
		background-color: $scrollx-track-color;
		border-radius: 99px;
		align-self: center;
	}
	&__bar {
		position: absolute;
		height: 100%;
		width: $scrollx-bar-width;
		background-color: $scrollx-bar-color;
		border-radius: 99px;
	}
}