@import '~@/uni_modules/lime-style/index.scss';
@import '~@/uni_modules/lime-style/functions.scss';

$l-col-columns: 24 !default;


@mixin generate-col-classes($max-columns: $l-col-columns) {
  // 生成 span 类
  @for $i from 1 through $max-columns {
	  
    .#{$prefix}-col--#{$i} {
		width: 100% * divide($i, $max-columns);  //calc(100% * #{$i} / #{$max-columns});
		flex: 0 0 auto;
	}
  }

  // 生成 offset 类
  @for $i from 1 through $max-columns {
    .#{$prefix}-col--offset-#{$i} {
      margin-left: 100% * divide($i, $max-columns);
    }
  }
}



.#{$prefix}-col {
	display: flex;
	flex: 1 0 0;
	// width: 100%;
	// max-width: 100%;
	min-height: 1px;
	box-sizing: border-box;	
	&--auto {
		flex: auto;
		width: auto;
	}
	&--none {
		flex: none;
		width: auto;
	}
}

@include generate-col-classes();