@import '@/uni_modules/lime-style/index.scss';
@import '@/uni_modules/lime-style/mixins/hairline.scss';

/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$tabbar: #{$prefix}-tabbar;

$tabbar-bg-color: create-var(tabbar-bg-color, $bg-color-container);
$tabbar-border-color: create-var(tabbar-border-color, $border-color-1);

$tabbar-z-index: create-var(tabbar-z-index, 10);
$tabbar-round-margin-x: create-var(tabbar-round-margin-x, $spacer);
/* #ifndef UNI-APP-X && APP */
$tabbar-round-shadow: create-var(tabbar-round-shadow, $shadow-3);
/* #endif */
/* #ifdef UNI-APP-X && APP */
$tabbar-round-shadow: $shadow-3;
/* #endif */

.#{$tabbar} {
	/* #ifndef UNI-APP-X */
	display: flex;
	box-sizing: border-box;
	/* #endif */
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
	// font-size: 16px;
	background-color: $tabbar-bg-color;
	overflow: visible;
	
	&--fixed {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: $tabbar-z-index;
	}

	&--round {
		margin-left: $tabbar-round-margin-x;
		margin-right: $tabbar-round-margin-x;
		border-radius: 999px;
		box-shadow: $tabbar-round-shadow;
	}
	
	/* #ifndef UNI-APP-X && APP */
	&--normal#{&}--bordered {
		// z-index: 1;
		// border-top: 1rpx solid $tabbar-border-color;
		border-top-width: 1rpx;
		border-top-style: solid;
		border-top-color: $tabbar-border-color;
	}
	/* #endif */
	/* #ifndef UNI-APP-X && APP */
	&--normal#{&}--bordered::before {
		// z-index: 1;
		@include hairline-top($color: $tabbar-border-color);
	}
	/* #endif */
	&--normal#{&}--safe {
		/* #ifdef UNI-APP-X */
		padding-bottom: var(--uni-safe-area-inset-bottom);
		/* #endif */
		/* #ifndef UNI-APP-X */
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
		/* #endif */
	}
	&--fixed#{&}--round#{&}--safe {
		/* #ifdef UNI-APP-X */
		bottom: var(--uni-safe-area-inset-bottom);
		/* #endif */
		/* #ifndef UNI-APP-X */
		bottom: constant(safe-area-inset-bottom);
		bottom: env(safe-area-inset-bottom);
		/* #endif */
	}
	
}
