@import '~@/uni_modules/lime-style/index.scss';

/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */

$stepper: #{$prefix}-stepper;

$stepper-small-height: create-var(stepper-small-height, 20px);
$stepper-medium-height: create-var(stepper-medium-height, 24px);
$stepper-large-height: create-var(stepper-large-height, 28px);
$stepper-small-font-size: create-var(stepper-small-font-size, 10px);
$stepper-medium-font-size: create-var(stepper-medium-font-size, 12px);
$stepper-large-font-size: create-var(stepper-large-font-size, 16px);
$stepper-small-icon-size: create-var(stepper-small-icon-size, 12px);
$stepper-medium-icon-size: create-var(stepper-medium-icon-size, 16px);
$stepper-large-icon-size: create-var(stepper-large-icon-size, 20px);
$stepper-small-input-width: create-var(stepper-small-input-width, 34px);
$stepper-medium-input-width: create-var(stepper-medium-input-width, 38px);
$stepper-large-input-width: create-var(stepper-large-input-width, 46px);
$stepper-border-width: create-var(stepper-border-width, 1px);

$stepper-border-radius: create-var(stepper-border-radius, $border-radius-sm); // outline/filled 主题下的圆角大小
$stepper-border-color: create-var(stepper-border-color, $border-color-1); // outline/filled 主题下的圆角颜色
$stepper-input-color: create-var(stepper-input-color, $text-color-1); // 输入框文本/图标颜色
$stepper-input-disabled-color: create-var(stepper-input-disabled-color, $text-color-4); // 禁用态输入框文本/图标颜色
$stepper-input-disabled-bg: create-var(stepper-input-disabled-bg, $gray-2); // 禁用态输入框文本/图标颜色

$stepper-gap: create-var(stepper-gap, 4px);
$stepper-solid-bg-color: create-var(stepper-solid-bg-color, $primary-color);
$stepper-button-bg-color: create-var(stepper-button-bg-color, $gray-1);

.#{$stepper} {
	/* #ifndef UNI-APP-X */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
	/* #ifndef UNI-APP-X && APP */
	color: $stepper-input-color;
	/* #endif */
	
	&__input {
	    // margin: 0 $stepper-gap;
	    text-align: center;
	   
		/* #ifndef UNI-APP-X && APP */
		vertical-align: top;
	    height: inherit;
	    min-height: inherit;
		/* #endif */
		color: $stepper-input-color;
		box-sizing: border-box;
		/* #ifndef MP */
		padding: 4px 0;
		/* #endif */
	}
	&__input--normal,
	&__input--filled {
	    margin: 0 4px;
	}
	/* #ifdef UNI-APP-X */
	&__icon {
		color: $stepper-input-color;
		&-disabled {
			color: $stepper-input-disabled-color;
		}
	}
	/* #endif */
	&__minus,
	&__plus {
		/* #ifndef UNI-APP-X */
		display: flex;
		/* #endif */
		align-items: center;
		justify-content: center;
	    padding: 8rpx;
	    box-sizing: border-box;
	}
	
	// &__input,
	// &__minus-icon,
	// &__plus-icon {
	//     color: inherit;
	// }
	
	// &__input--normal,
	// &__input--filled,
	// &__input--outline {
	//     height: inherit;
	//     box-sizing: border-box;
	// }
	
	 &--small {
	    height: $stepper-small-height !important;
		// padding: 8rpx;
		// box-sizing: border-box;
		.#{$stepper}__input {
			 font-size: $stepper-small-font-size;
		}
		/* #ifndef UNI-APP-X && APP */
	    font-size: $stepper-small-font-size;
		/* #endif */
	}
	
	&--medium {
	    height: $stepper-medium-height;
		.#{$stepper}__input {
			 font-size: $stepper-medium-font-size;
		}
		/* #ifndef UNI-APP-X && APP */
	    font-size: $stepper-medium-font-size;
		/* #endif */
	}
	
	&--large {
	    height: $stepper-large-height;
		.#{$stepper}__input {
			 font-size: $stepper-medium-font-size;
		}
		/* #ifndef UNI-APP-X && APP */
	    font-size: $stepper-large-font-size;
		/* #endif */
	}
	
	 &__input--small {
	    width: $stepper-small-input-width;
	}
	
	&__input--medium {
	    height: $stepper-medium-height;
	    width: $stepper-medium-input-width;
	}
	
	&__input--large {
	    height: $stepper-large-height;
	    width: $stepper-large-input-width;
	}
	&__icon--small {
	    width: $stepper-small-height;
	    height: $stepper-small-height;
		/* #ifndef UNI-APP-X && APP */
	    font-size: $stepper-small-icon-size;
		/* #endif */
		.#{$stepper}__icon  {
			width: $stepper-small-icon-size !important;
			font-size: $stepper-small-icon-size !important;
		}
	}
	
	&__icon--medium {
	    width: $stepper-medium-height;
	    height: $stepper-medium-height;
		/* #ifndef UNI-APP-X && APP */
	    font-size: $stepper-medium-icon-size;
		/* #endif */
		.#{$stepper}__icon  {
			font-size: $stepper-medium-icon-size !important;
			width: $stepper-medium-icon-size !important;
		}
	}
	
	&__icon--large {
	    width: $stepper-large-height;
	    height: $stepper-large-height;
		/* #ifndef UNI-APP-X && APP */
	    font-size: $stepper-large-icon-size;
		/* #endif */
		.#{$stepper}__icon  {
			width: $stepper-large-icon-size !important;
			font-size: $stepper-large-icon-size !important;
		}
	}
	
	&__minus--outline,
	&__plus--outline {
	    // border: $stepper-border-width solid $stepper-border-color;
		border-width: $stepper-border-width;
		border-style: solid;
		border-color: $stepper-border-color;
	}
	
	&__input--outline {
	    border: none;
	    // border-top: $stepper-border-width solid $stepper-border-color;
		border-top-width: $stepper-border-width;
		border-top-style: solid;
		border-top-color: $stepper-border-color;
		
	    // border-bottom: $stepper-border-width solid $stepper-border-color;
		
		border-bottom-width: $stepper-border-width;
		border-bottom-style: solid;
		border-bottom-color: $stepper-border-color;
	}
	
	&__minus--outline,
	&__minus--filled {
	    // border-radius: $stepper-border-radius 0 0 $stepper-border-radius;
		@include border-radius($stepper-border-radius 0 0 $stepper-border-radius);
	}
	&__plus--outline,
	&__plus--filled {
	    // border-radius: 0 $stepper-border-radius $stepper-border-radius 0;
		@include border-radius(0 $stepper-border-radius $stepper-border-radius 0);
	}
	
	&__minus--filled,
	&__plus--filled {
	    background-color: $stepper-button-bg-color;
	}
	
	&__input--filled {
	    background-color: $stepper-button-bg-color;
	    margin: 0 8rpx;
	
	    // .#{$stepper}__input {
	    //   margin: 0;
	    // }
	}
	&__minus--solid {
		border-style: solid;
		border-width: 1px;
		// border-radius: $stepper-border-radius;
		@include border-radius($stepper-border-radius);
		border-color: $stepper-solid-bg-color;
		/* #ifndef UNI-APP-X */
		color: $stepper-solid-bg-color;
		/* #endif */
		/* #ifdef UNI-APP-X */
		.#{$stepper}__icon {
			color: $stepper-solid-bg-color;
		}
		/* #endif */
	} 
	&__plus--solid {
		// border-radius: $stepper-border-radius;
		@include border-radius($stepper-border-radius);
		background-color: $stepper-solid-bg-color;
		/* #ifndef UNI-APP-X */
		color: white;
		/* #endif */
		/* #ifdef UNI-APP-X */
		.#{$stepper}__icon {
			color: white;
		}
		/* #endif */
	}
	
	&--solid-disabled {
		opacity: 0.5;
	}
	&--normal-disabled {
		/* #ifndef UNI-APP-X && APP */
	    color: $stepper-input-disabled-color;
		/* #endif */
	}
	
	&--filled-disabled,
	&--outline-disabled {
		/* #ifndef UNI-APP-X && APP */
	    color: $stepper-input-disabled-color;
		/* #endif */
	    background-color: $stepper-input-disabled-bg;
		&.#{$stepper}__input {
			color: $stepper-input-disabled-color;
		}
	}
	
	
}