

@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */

$count-down-text-color: create-var(count-down-text-color, $text-color-1);
$count-down-font-size: create-var(count-down-font-size, $font-size-md);
$count-down-line-height: create-var(count-down-line-heightr, 1.6666);
.l-count-down {
	color: $count-down-text-color;
	font-size: $count-down-font-size;
	line-height: $count-down-line-height;
}

// #ifndef APP-ANDROID || APP-IOS || APP-NVUE || APP-HARMONY
// #endif