@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$highlight-text-color: create-var(highlight-text-color, $primary-color);
$highlight-normal-color: create-var(highlight-normal-color, currentColor); 

.#{$prefix}-highlight {
	
	/* #ifndef  APP-ANDROID || APP-IOS || APP-HARMONY */ 
	display: inline;
	/* #endif */ 
	&--normal {
		color: $highlight-normal-color;
	}
	&__text {
		color: $highlight-text-color;
	}
	/* #ifdef MP */ 
	& > view {
		display: inline;
	}
	/* #endif */
}