@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */

$backtop: #{$prefix}-back-top;

// 基础变量
$back-top-font-size: create-var(back-top-font-size, $font-size-sm);
$back-top-icon-size: create-var(back-top-icon-size, $font-size-lg);
$back-top-text-color: create-var(back-top-text-color, $text-color-2);
$back-top-bg-color: create-var(back-top-bg-color, $bg-color-elevated);
$back-top-border-color: create-var(back-top-border-color, $border-color-1);

// 新增变量
$back-top-size: create-var(back-top-size, 50px);
$back-top-border-width: create-var(back-top-border-width, 0.5px);
$back-top-border-radius-circle: create-var(back-top-border-radius-circle, $border-radius-hg);
$back-top-border-radius-square: create-var(back-top-border-radius-square, $border-radius-sm);
$back-top-padding-x: create-var(back-top-padding-x, $spacer-sm);
$back-top-padding-y: create-var(back-top-padding-y, $spacer-sm);
$back-top-position-right: create-var(back-top-position-right, $spacer);
$back-top-position-bottom: create-var(back-top-position-bottom, $spacer-xl);
// $back-top-transition-duration: create-var(back-top-transition-duration, 300ms);
// $back-top-transition-timing: create-var(back-top-transition-timing, ease-in-out);
$back-top-z-index: create-var(back-top-z-index, 1000);

.#{$prefix}-back-top {
	position: absolute;
	// #ifndef UNI-APP-X
	display: flex;
	// #endif
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: $back-top-size;
	transition-property: opacity, transform;
	transition-duration: 300ms;//$back-top-transition-duration;
	transition-timing-function: ease-in-out;//$back-top-transition-timing;
	background-color: $back-top-bg-color;
	border-width: $back-top-border-width;
	border-style: solid;
	border-color: $back-top-border-color;
	right: $back-top-position-right;
	opacity: 0;
	transform: scale(0);
	// box-sizing: border-box;
	/* #ifndef APP-NVUE || APP-ANDROID || APP-IOS || APP-HARMONY */
	color: $back-top-text-color;
	height: auto;
	overflow: hidden;
	/* #endif */
	
	&.is-fixed {
		position: fixed;
		right: $back-top-position-right;
		bottom: $back-top-position-bottom;
		z-index: $back-top-z-index;
	}
	
	&.is-show {
		opacity: 1;
		transform: scale(1);
	}
	
	&.is-hidden {
		opacity: 0;
	}
	
	&.is-circle {
		// width: $back-top-size;
		height: $back-top-size;
		// border-radius: $back-top-border-radius-circle;
		// @include padding($back-top-padding-y $back-top-padding-x);
		@include border-radius($back-top-border-radius-circle);
	}
	
	&.is-square {
		// width: $back-top-size;
		height: $back-top-size;
		// padding: $back-top-padding-square;
		// @include padding($back-top-padding-y $back-top-padding-x);
		// border-radius: $back-top-border-radius-square;
		@include border-radius($back-top-border-radius-square);
	}
	
	&__text {
		font-size: $back-top-font-size;
		color: $back-top-text-color;
		line-height: 12px;
	}
	  
	&__icon {
		color: $back-top-text-color;
		font-size: $back-top-icon-size;
	}
	
	&__anchor {
		position: absolute;
		padding: 1px;
		bottom: -100px;
	}
}