/* #ifndef APP-NVUE || UNI-APP-X && APP */
:host {display: inline-flex;}
/* #endif */

.l-svg {
	/* #ifdef UNI-APP-X && APP */
	width: 24px;
	height: 24px;
	/* #endif */
	/* #ifndef UNI-APP-X && APP */
	width: 1em;
	height: 1em;
	/* #endif */
	/* #ifndef UNI-APP-X && APP */
	:deep(svg) {
		width: 100%;
		height: 100%;
	}

	&-img {
		mix-blend-mode: lighten;
		width: 100%;
		height: 100%;
	}

	&--inherit {
		// -webkit-mask-image: var(--svg);
		// mask-image: var(--svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
		background-color: currentColor;
	}

	&:not(#{&}--inherit) {
		background: var(--svg) no-repeat;
		background-size: 100% 100%;
		background-color: transparent;

		image {
			mix-blend-mode: inherit;
			opacity: 0;
		}
	}

	/* #endif */
}