@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */

$load-more: #{$prefix}-load-more;

$load-more-height: create-var(load-more-height, auto);
$load-more-text-color: create-var(load-more-text-color, $text-color-3);
$load-more-font-size: create-var(load-more-font-size, $font-size);
$load-more-color: create-var(load-more-color, $text-color-4);
$load-more-icon-size: create-var(load-more-icon-size, 20px);
$load-more-gap: create-var(load-more-gap, $spacer-xs);


.#{$load-more} {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: $load-more-height;
	
	/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY */
	color: $load-more-text-color;
	font-size: $load-more-font-size;
	--l-loading-color: #{$load-more-color};
	--l-loading-size: #{$load-more-icon-size};
	/* #endif */
	&__text {
		color: $load-more-text-color;
		font-size: $load-more-font-size;
		/* #ifdef APP-ANDROID || APP-IOS || APP-HARMONY  */
		&--loading {
			padding-left: $load-more-gap;
		}
		/* #endif */
	}
}