@import '~@/uni_modules/lime-style/index.scss';
$footer-text-color: create-var(footer-text-color, $text-color-3);
$footer-text-font-size: create-var(footer-text-font-size, $font-size-sm);
$footer-text-line-height: create-var(footer-text-line-height, 20px);
$footer-text-margin-top: create-var(footer-text-margin-top, 8rpx);
$footer-link-color: create-var(footer-link-color, $primary-color);
$footer-link-font-size: create-var(footer-link-font-size, $font-size-sm);
$footer-link-line-height: create-var(footer-link-line-height, 20px);

$footer-link-dividing-line-padding: create-var(footer-link-dividing-line-padding, $spacer-sm);
$footer-link-dividing-line-color: create-var(footer-link-dividing-line-color, $text-color-3);
$footer-logo-icon-width: create-var(footer-logo-icon-width, 48rpx);
$footer-logo-icon-height: create-var(footer-logo-icon-height, 48rpx);
$footer-logo-icon-margin-right: create-var(footer-logo-icon-margin-right, $spacer-xs);
$footer-logo-title-font-size: create-var(footer-logo-title-font-size, $font-size-md);
$footer-logo-title-url-width: create-var(footer-logo-title-url-width, 256rpx);
$footer-logo-title-line-height: create-var(footer-logo-title-line-height, 48rpx);

.#{$prefix}-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__text {
    font-size: $footer-text-font-size; // 版权信息文本大小
    line-height: $footer-text-line-height; // 版权信息文本行高
    color: $footer-text-color; // 版权信息文本颜色
	overflow: visible;
	margin-top: $footer-text-margin-top;
  }

  // &__link-list + &__text:not(:empty) {
  //   margin-top: $footer-text-margin-top; // 版权信息顶部间距
  // }

  &__link-list {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: row;
  }

  &__link-item {
  
	&-text {
		color: $footer-link-color; // 链接文本颜色
		font-size: $footer-link-font-size; // 链接文本大小
		line-height: $footer-link-line-height; // 链接文本行高
		/* #ifndef APP-ANDROID || APP-HARMONY || APP-HARMONY || APP-NVUE */
		text-decoration: underline;
		/* #endif */
	}
  }

  &__link-line {
    font-size: 24rpx;
    color: $footer-link-dividing-line-color; // 链接分界线颜色
    // display: inline-block;
    padding: 0 $footer-link-dividing-line-padding; // 链接分界线左右间距
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: row;
	overflow: visible;
  }

  &__icon {
    width: $footer-logo-icon-width; // 图标宽度
    height: $footer-logo-icon-height; // 图标高度
    margin-right: $footer-logo-icon-margin-right; // 图标右部间距
  }

  &__title {
    color: $text-color-1;
    font-weight: bold;
    font-size: $footer-logo-title-font-size; // 图标配置，标题文本大小
    line-height: $footer-logo-title-line-height; // 图标配置，标题文本行高
    font-style: italic;
	overflow: visible;
  }

  &__title-url {
    width: $footer-logo-title-url-width; // 图标配置，链接跳转地址宽度
  }
}
