@import '~@/uni_modules/lime-style/index.scss';

$sidebar-font-size: create-var(sidebar-font-size, $font-size);
$sidebar-line-height: create-var(sidebar-line-height, $line-height);
$sidebar-text-color: create-var( sidebar-text-color, $text-color-1);
$sidebar-disabled-text-color: create-var(sidebar-disabled-text-color, $text-color-4);
$sidebar-padding: create-var(sidebar-padding, 20px $spacer-sm);
$sidebar-active-color: create-var(sidebar-active-color, $fill-2);
$sidebar-background: create-var(sidebar-background, #f5f5f5);
$sidebar-selected-font-weight: create-var(sidebar-selected-font-weight, bold);
$sidebar-selected-text-color: create-var(sidebar-selected-text-color, $text-color-1);
$sidebar-selected-border-width: create-var(sidebar-selected-border-width, 4px);
$sidebar-selected-border-height: create-var(sidebar-selected-border-height, 16px);
$sidebar-selected-border-color: create-var(sidebar-selected-border-color, $primary-color);
$sidebar-selected-background: create-var(sidebar-selected-background, white);
$sidebar-selected-border-radius: create-var(sidebar-selected-border-radius, 10px);

.l-sidebar-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: $sidebar-padding;
  // overflow: hidden;
  color: $sidebar-text-color;
  font-size: $sidebar-font-size;
  line-height: $sidebar-line-height;
  background: $sidebar-background;
  cursor: pointer;
  user-select: none;
  transition: background 300ms;
	&--top {
		border-top-right-radius: $sidebar-selected-border-radius;
	}
	&--bottom {
		border-bottom-right-radius: $sidebar-selected-border-radius;
	}
  &:active {
    background-color: $sidebar-active-color;
  }

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &__text {
    // https://github.com/lt-ui/lt/issues/7455
    word-break: break-all;
  }

  &--select {
    color: $sidebar-selected-text-color;
    font-weight: $sidebar-selected-font-weight;
	transition: backgroundColor,color 300ms;

    &,
    &:active {
      background-color: $sidebar-selected-background;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: $sidebar-selected-border-width;
      height: $sidebar-selected-border-height;
      background-color: $sidebar-selected-border-color;
      transform: translateY(-50%);
      content: '';
    }
  }

  &--disabled {
    color: $sidebar-disabled-text-color;
    cursor: not-allowed;

    &:active {
      background-color: $sidebar-background;
    }
  }
}
